.title {
  font-weight: bold;
  padding: 20px 0;
  color: #4A90B6;
  border-bottom: 1px solid #DBE9F0;
}

.text {
  color: #707070;
  margin: 10px 0 20px;
  line-height: 19.6px;
}

.list {
  list-style-type: none;
  color: #707070;
  display: flex;
  flex-direction: column;
  gap: 3px;

  li {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & li::before {
    font-size: 40px;
    line-height: 20px;
    content: "\2022";
    color: #45D7B8;
    display: inline-block;
    width: 10px;
  }
}


