:host {
  background: #E7E7E7;
}

.main {
  background-color: #E7E7E7;
  padding: 50px 0;
}

.table-main {
  max-width: 1000px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 30px;
    margin: 50px 0 20px 30px;
  }

  .wrapper {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
  }
}
